{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    
    <div class="site-container gallery-container">
        {% include 'images/gallery/base-gallery.html' %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a class="gallery-button" href="?page=1">&laquo; {% trans 'първа' %}</a>
                    <a class="gallery-button" href="?page={{ page_obj.previous_page_number }}">{% trans 'предишна' %}</a>
                {% endif %}
        
                <span class="pagination-current">
                    {% trans 'Страница' %} {{ page_obj.number }} {% trans 'от' %} {{ page_obj.paginator.num_pages }}
                </span>
        
                {% if page_obj.has_next %}
                    <a class="gallery-button" href="?page={{ page_obj.next_page_number }}">{% trans 'следваща' %}</a>
                    <a class="gallery-button" href="?page={{ page_obj.paginator.num_pages }}">{% trans 'последна' %} &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    
{% endblock %}