{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    
    <div class="site-container form-container">
        <div class="form-card">
            <h2>{% trans 'Желаете ли да изтриете това изображение?' %}</h2>
            <form class="custom-form" action="{% url 'image-delete' image.pk %}" method="post">
                {% csrf_token %}
                <div class="form-buttons-container">
                    <button class="form-button">{% trans 'Да' %}</button>
                    <button type="button" class="form-button" onclick="window.history.back()">{% trans 'Назад' %}</button>
                </div>
            </form>
        </div>
    </div>
    
{% endblock %}