{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load custom_placeholder %}

{% block content %}
    
    <div class="form-container site-container">
        <div class="form-card">
            <h2>{% trans 'Редактиране на медицински продукт' %}</h2>
            <form class="custom-form" action="" method="post">
                {% csrf_token %}
                <div class="input-container">
                    <label for="name_medicine_edit" class="custom-label">{% trans 'Име на продукт' %}</label>
                    {{ form.name|add_class:"custom-input"|placeholder:"Въведете име на продукт" }}
                    {% if form.name.errors %}
                        {% for error in form.name.errors %}
                            <p class="error-text">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="input-container">
                    <label for="description_medicine_edit" class="custom-label">{% trans 'Описание' %}</label>
                    {{ form.description|add_class:"custom-input"|placeholder:"Въведете описание" }}
                    {% if form.description.errors %}
                        {% for error in form.description.errors %}
                            <p class="error-text">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="input-container">
                    <label for="dosages_medicine_edit" class="custom-label">{% trans 'Дози на използване' %}</label>
                    {{ form.dosages|add_class:"custom-input"|placeholder:"Въведете дози на използване" }}
                    {% if form.dosages.errors %}
                        {% for error in form.dosages.errors %}
                            <p class="error-text">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
        
                <div>
                    {% for error in form.non_field_errors %}
                        <p class="error-text">{{ error }}</p>
                    {% endfor %}
                </div>
            
                <div class="form-buttons-container">
                    <button class="form-button">
                        {% trans 'Редактирай' %}
                    </button>
                    <button id="delete-medicine-button" class="form-button">
                        {% trans 'Изтрий' %}
                    </button>
                </div>
                <button type="button" class="form-button" onclick="window.history.back()">{% trans 'Назад' %}</button>
            
            </form>
        </div>
    </div>
    
    <div class="modal">
        <div class="modal-content">
            <p>{% trans 'Сигурни ли сте, че искате да изтриете това лекарство?' %}</p>
            <div class="form-buttons-container">
                <button id="delete-medicine-confirm" class="form-button">{% trans 'Да' %}</button>
                <button id="delete-medicine-cancel" class="form-button">{% trans 'Не' %}</button>
            </div>
        </div>
    </div>

    <script>
        const modalElement = document.querySelector('.modal');
        const deleteBtn = document.getElementById('delete-medicine-button');
        const deleteConfirm = document.getElementById('delete-medicine-confirm');
        const deleteCancel = document.getElementById('delete-medicine-cancel');

        deleteBtn.addEventListener('click', (e) => {
            e.preventDefault();
            modalElement.style.display = 'block';
        })
        
        deleteCancel.addEventListener('click', () => {
            modalElement.style.display = 'none';
        })
        
        deleteConfirm.addEventListener('click', () => {
            const medicineId = {{ medicine.pk }};
            
            fetch(`/api/medicines/${medicineId}/`, {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                },
            })
            .then(response => {
                if (response.ok) {
                    window.location.href = '{% url 'vet-dashboard' %}';
                } else {
                    alert('Error deleting the medicine.')
                }
            })
            .catch(error => console.log('Error:', error));
        })
    </script>
    
{% endblock %}