{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
    
    <div class="form-container site-container">
        <div class="form-card">
            <h2>{% trans 'Изтриване на любимец' %}</h2>
            <form class="custom-form" method="post">
                {% csrf_token %}
                <div class="input-container">
                    <label class="custom-label">{% trans 'Име на любимец' %}</label>
                    {{ form.name|add_class:"custom-input" }}
                </div>
                <div class="input-container">
                    <label class="custom-label">{% trans 'Вид' %}</label>
                    {{ form.species|add_class:"custom-input" }}
                </div>
                <div class="input-container">
                    <label class="custom-label">{% trans 'Порода' %}</label>
                    {{ form.breed|add_class:"custom-input" }}
                </div>
                <div class="input-container">
                    <label class="custom-label">{% trans 'Пол' %}</label>
                    {{ form.sex|add_class:"custom-input" }}
                </div>
                <div class="input-container">
                    <label class="custom-label">{% trans 'Дата на раждане' %}</label>
                    {{ form.date_of_birth|add_class:"custom-input" }}
                </div>
                
                <button type="submit" class="form-button">
                    {% trans 'Изтриване' %}
                </button>
            </form>
        </div>
    </div>
    
{% endblock %}