{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    
    <div class="site-container profile-container">
        <div class="profile-card">
            <div class="card-pet">
                <div class="card-header">
                    <div class="card-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" width="70" height="70">
                            <style>.st1{fill:#3d2a3d}.st36{fill:#6b4a6b}</style>
                            <path d="M512 256c0 141.4-114.6 256-256 256S0 397.4 0 256 114.6 0 256 0s256 114.6 256 256z" style="fill:#43b06d" id="Layer_9"/>
                            <g id="Layer_7">
                                <path class="st1" d="m282.1 323.4 70 70c11.4 11.4 29.7 11.4 41.1.1 11.4-11.4 11.3-29.7-.1-41.1l-70-70-41 41z"/>
                                <circle transform="rotate(-74.632 234.587 235.233)" class="st1" cx="234.6" cy="235.2" r="127.2"/>
                                <path d="M306.9 162.9c39.9 39.9 39.9 104.6 0 144.6-39.9 39.9-104.6 39.9-144.6 0-39.9-39.9-39.9-104.6 0-144.6 39.9-39.9 104.6-39.9 144.6 0z" style="fill:#9ec853"/>
                                <path class="st36" d="M278 260.9c0 11.8-9.7 21.3-21.4 21.3h-44c-11.8 0-21.6-9.5-21.6-21.3v-.1c0-11.8 10-20.8 21.8-20.8h43.7c11.8 0 21.6 9.1 21.6 20.8v.1z"/>
                                <path class="st36" d="M255.5 245c0 14.9-9.6 26.9-21.5 26.9s-21.5-12-21.5-26.9c0-14.9 9.6-26.9 21.5-26.9 11.9.1 21.5 12.1 21.5 26.9zM272.6 202.5c0 9.2-7.4 16.6-16.6 16.6-9.2 0-16.6-7.4-16.6-16.6 0-9.2 7.4-16.6 16.6-16.6 9.2 0 16.6 7.4 16.6 16.6zM228.6 202.5c0 9.2-7.4 16.6-16.6 16.6-9.2 0-16.6-7.4-16.6-16.6 0-9.2 7.4-16.6 16.6-16.6 9.2 0 16.6 7.4 16.6 16.6z"/>
                                <g>
                                    <path class="st36" d="M196.9 231.1c0 7.7-6.2 13.9-13.9 13.9s-13.9-6.2-13.9-13.9 6.2-13.9 13.9-13.9c7.6 0 13.9 6.2 13.9 13.9zM299.1 231.1c0 7.7-6.2 13.9-13.9 13.9s-13.9-6.2-13.9-13.9 6.2-13.9 13.9-13.9c7.6 0 13.9 6.2 13.9 13.9z"/>
                                </g>
                            </g>
                        </svg>
                        <p>{{ pet.date_of_birth|date:'d/m/Y' }}</p>
                    </div>
                    <div class="card-name">
                        <h2>{{ pet.name }}</h2>
                        <p>
                            {% for specie in species %}
                                {% if pet.species == specie.0 %}
                                     {{ specie.1 }}
                                {% endif %}
                            {% endfor %} 
                        </p>
                    </div>
                </div>
                <div class="card-content">
                    <div class="info-item">
                        <h3>{% trans 'Пол:' %}</h3>
                        <p>{% if pet.sex == 'M' %}{% trans 'Мъжки' %}{% else %}{% trans 'Женски' %}{% endif %}</p>
                    </div>
                    <div class="info-item">
                        <h3>{% trans 'Порода:' %}</h3>
                        <p>{% if pet.breed %}{{ pet.breed }}{% else %}<i>{% trans '(непопълнено)' %}</i>{% endif %}</p>
                    </div>
                    <div class="info-item">
                        <h3>{% trans 'Собственик:' %}</h3>
                        <p>{{ pet.owner.profile.get_name }}</p>
                    </div>
                    <div class="info-item">
                        <h3>{% trans 'Кастрация:' %}</h3>
                        <p>{% if pet.status.is_neutered %}{% trans 'Да' %}{% else %}{% trans 'Не' %}{% endif %}</p>
                    </div>
                    <div class="info-item">
                        <h3>{% trans 'Ваксинация:' %}</h3>
                        <p>{% if pet.status.is_vaccinated %}{{ pet.status.last_vaccinated_at|date:'d/m/Y H:i' }}{% else %}<i>{% trans '(непопълнено)' %}</i>{% endif %}</p>
                    </div>
                    <div class="info-item">
                        <h3>{% trans 'Вътрешно обезпаразитяване:' %}</h3>
                        <p>{% if pet.status.last_internal_deworming %}{{ pet.status.last_internal_deworming|date:'d/m/Y H:i' }}{% else %}<i>{% trans '(непопълнено)' %}</i>{% endif %}</p>
                    </div>
                    <div class="info-item">
                        <h3>{% trans 'Външно обезпаразитяване:' %}</h3>
                        <p>{% if pet.status.last_external_deworming %}{{ pet.status.last_external_deworming|date:'d/m/Y H:i' }}{% else %}<i>{% trans '(непопълнено)' %}</i>{% endif %}</p>
                    </div>
                </div>
                <div class="card-buttons">
                    <a href="{% url 'pet-edit' pet.pk %}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xml:space="preserve" width="50" height="50">
                            <path fill="#EDEFF1" d="M436 502H76V10h266l94 94z"/><path fill="#D3D3D3" d="M101 192h200v30H101zM101 132h240v30H101zM101 252h160v30H101z"/>
                            <path fill="#466089" d="M101 452h100v30H101z"/>
                            <path fill="#D3D3D3" d="m342 10 94 94h-94z"/>
                            <g>
                                <path fill="#6E83B7" d="m486 220-58-58-240 240v43.857l-19.071 19.072 14.142 14.142L202.143 460H246z"/>
                                <path fill="#FFE352" d="m357.496 232.501 27-27 58 58-27 27z"/>
                            </g>
                        </svg>
                        <span class="static-hint-box">{% trans 'Редактирай' %}</span>
                    </a>
                    {% if pet.owner.pk == request.user.pk %}
                        <a href="{% url 'pet-delete' pet.pk %}">
                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="50" height="50" style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd" viewBox="0 0 6.827 6.827">
                                <defs><style>.fil0{fill:none}</style></defs>
                                <g id="Layer_x0020_1"><g id="_486850792">
                                    <path id="_486850144" class="fil0" d="M0 0h6.827v6.827H0z"/>
                                    <path id="_486850552" class="fil0" d="M.853.853h5.12v5.12H.853z"/>
                                </g><g id="_486849568">
                                    <path id="_486849592" d="M3.467 3.063 5.554.92a.244.244 0 0 1 .35.341L3.808 3.413l-.341.35-2.088 2.144a.244.244 0 0 1-.35-.34l2.097-2.154.34-.35z" style="fill:#A4393B"/>
                                    <path id="_486850024" d="m1.38.92 2.087 2.143.34.35 2.097 2.154a.244.244 0 0 1-.35.34L3.467 3.763l-.341-.35L1.029 1.26a.244.244 0 0 1 .35-.34z" style="fill:#85353B"/>
                                </g>
                                </g>
                            </svg>
                            <span class="static-hint-box">{% trans 'Изтрий' %}</span>
                        </a>
                    {% endif %}
                </div>
            </div>
            {% if last_report %}
                <div class="last-report">
                    <div class="report-note">
                        <h2>{% trans 'Последен преглед' %}</h2>
                        <h3>{{ last_report.title }}</h3>
                        <div class="report-content">
                            <h4>{% trans 'Описание:' %}</h4>
                            <p>{{ last_report.description }}</p>
                            <h4>{% trans 'Инструкции:' %}</h4>
                            <p>{{ last_report.instructions }}</p>
                        </div>
                        <div class="report-buttons">
                            <a href="{% url 'report-details' pet.pk last_report.pk %}" class="card-button">{% trans 'Детайли' %}</a>
                            <a href="{% url 'report-dashboard' pet.pk %}" class="card-button">{% trans 'Още...' %}</a>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if request.user.is_vet %}
                <a href="{% url 'report-add' pet.pk %}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" width="50" height="50">
                        <defs><style>.cls-1{fill:#231f20}</style></defs>
                        <g id="calendar_add" data-name="calendar add">
                            <path class="cls-1" d="M22.5 3H21V2a1 1 0 0 0-1-1h-1a1 1 0 0 0-1 1v1h-4V2a1 1 0 0 0-1-1h-1a1 1 0 0 0-1 1v1H7V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v1H2.5A1.5 1.5 0 0 0 1 4.5v18A1.5 1.5 0 0 0 2.5 24h20a1.5 1.5 0 0 0 1.5-1.5v-18A1.5 1.5 0 0 0 22.5 3zM19 2h1v3h-1zm-7 0h1v3h-1zM5 2h1v3H5zM2.5 4H4v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V4h4v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V4h4v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V4h1.5a.5.5 0 0 1 .5.5V8H2V4.5a.5.5 0 0 1 .5-.5zm20 19h-20a.5.5 0 0 1-.5-.5V9h21v13.5a.5.5 0 0 1-.5.5z"/>
                            <path class="cls-1" d="M16 15.5h-3v-3a.5.5 0 0 0-1 0v3H9a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1z"/>
                        </g>
                    </svg>
                    <span class="static-hint-box">{% trans 'Добави преглед' %}</span>
                </a>
            {% endif %}
        </div>
    </div>
    
{% endblock %}