{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    
    <div class="site-container doctors-page-container">
        <div class="doctor-card">
            <div class="doctor-card-img-container">
                <img src="{% static 'images/vet1.jpg' %}" alt="" style="width: 20rem">
            </div>
            <div class="doctor-card-content">
                <h2>{% trans 'Д-р Елена Димитрова' %}</h2>
                <h3>{% trans 'Специализация:' %}</h3>
                <span>{% trans 'Вътрешни болести и обща грижа за малки животни' %}</span>
                <h3>{% trans 'Биография:' %}</h3>
                <p>
                    {% blocktrans %}
                        Д-р Елена Димитрова има над 15 години опит в лечението на кучета, котки и други малки животни. 
                        Завършила е в Лесотехническия университет в София и се фокусира върху осигуряването на качествена 
                        диагностика и профилактична грижа за своите пациенти. Тя вярва, че всяко животно заслужава 
                        индивидуално внимание и се стреми да създава спокойна и комфортна среда за своите четириноги 
                        пациенти. В свободното си време обича да чете и да се грижи за своите две котки, Лола и Пух.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
        <div class="doctor-card">
            <div class="doctor-card-content">
                <h2>{% trans 'Д-р Иван Стоянов' %}</h2>
                <h3>{% trans 'Специализация:' %}</h3>
                <span>{% trans 'Хирургия и стоматология за малки животни' %}</span>
                <h3>{% trans 'Биография:' %}</h3>
                <p>
                    {% blocktrans %}
                        Д-р Иван Стоянов е специалист по хирургия и стоматология за малки животни. Той има повече от 
                        десетилетие опит в извършването на сложни операции и осигуряването на висококачествена дентална 
                        грижа за домашни любимци. След като завършва с отличие, д-р Стоянов преминава допълнителни 
                        обучения в Европа, за да се специализира в минимално инвазивна хирургия. Извън клиниката обича да 
                        участва в семинари за ветеринарни лекари и да прекарва време със своето куче Макс.
                    {% endblocktrans %}
                </p>
            </div>
            <div class="doctor-card-img-container">
                <img src="{% static 'images/vet2.jpg' %}" alt="" style="width: 20rem">
            </div>
        </div>
        <div class="doctor-card">
            <div class="doctor-card-img-container">
                <img src="{% static 'images/vet3.jpg' %}" alt="" style="width: 20rem">
            </div>
            <div class="doctor-card-content">
                <h2>{% trans 'Д-р Мария Петрова' %}</h2>
                <h3>{% trans 'Специализация:' %}</h3>
                <span>{% trans 'Дерматология и алергии при домашни любимци' %}</span>
                <h3>{% trans 'Биография:' %}</h3>
                <p>
                    {% blocktrans %}
                        Д-р Мария Петрова е експерт в лечението на кожни заболявания и алергии при кучета и котки. 
                        Тя работи с търпение и внимание, за да помогне на животните с хронични кожни проблеми да водят 
                        по-здравословен и комфортен живот. След като завършва ветеринарна медицина, тя специализира в 
                        областта на дерматологията и непрекъснато участва в обучения и конференции, посветени на 
                        иновациите в грижата за кожата. В свободното си време обича да се разхожда сред природата и 
                        да снима своето коте Белла.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
        <div class="doctor-card">
            <div class="doctor-card-content">
                <h2>{% trans 'Д-р Георги Николов' %}</h2>
                <h3>{% trans 'Специализация:' %}</h3>
                <span>{% trans 'Кардиология и профилактична медицина за малки животни' %}</span>
                <h3>{% trans 'Биография:' %}</h3>
                <p>
                    {% blocktrans %}
                        Д-р Георги Николов е експерт в диагностиката и лечението на сърдечно-съдови заболявания при малки 
                        животни. Той вярва в значението на профилактиката и помага на собствениците да осигуряват на своите 
                        домашни любимци дълъг и здравословен живот. С опит от повече от 10 години, д-р Николов се е 
                        утвърдил като доверен специалист за пациенти със сърдечни проблеми. Когато не е в клиниката, 
                        той обича да готви и да играе с двете си кучета, Бобо и Рей.
                    {% endblocktrans %}
                </p>
            </div>
            <div class="doctor-card-img-container">
                <img src="{% static 'images/vet4.jpg' %}" alt="" style="width: 20rem">
            </div>
        </div>
    </div>
    
{% endblock %}