{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    
    <div id="dashboard">
        <div id="search-container">
            <select id="search-category">
                <option value="all">{% trans 'Всички' %}</option>
                <option value="pets">{% trans 'Любимци' %}</option>
                <option value="profiles">{% trans 'Профили' %}</option>
                <option value="services">{% trans 'Услуги' %}</option>
                <option value="medicines">{% trans 'Лекарства' %}</option>
            </select>
            <input type="text" id="search-bar" placeholder={% trans 'Търсене...' %}>
        </div>
        <div id="search-results">
            <div class="category" id="pets">
                <h2>{% trans 'Любимци' %}</h2>
                <ul></ul>
            </div>
            <div class="category" id="profiles">
                <h2>{% trans 'Профили' %}</h2>
                <ul></ul>
            </div>
            <div class="category" id="services">
                <h2>{% trans 'Услуги' %}</h2>
                <ul></ul>
            </div>
            <div class="category" id="medicines">
                <h2>{% trans 'Лекарства' %}</h2>
                <ul></ul>
            </div>
        </div>
    </div>

    <script src="{% url 'javascript-catalog' %}"></script>
    <script>
        const urlPatterns = {
            profile: "{% url 'profile-details' 0 %}".replace('0', '{id}'),
            pet: "{% url 'pet-details' 0 %}".replace('0', '{id}'),
            service: "{% url 'service-edit' 0 %}".replace('0', '{id}'),
            medicine: "{% url 'medicine-edit' 0 %}".replace('0', '{id}'),
            serviceAdd: "{% url 'service-add' %}",
            medicineAdd: "{% url 'medicine-add' %}"
        };
    </script>
    <script src="{% static 'js/vet-dashboard.js' %}"></script>
{% endblock %}