header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--green-light);
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.5);
    border-top: 5px solid var(--green-dark);
    border-bottom: 5px solid var(--green-dark);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3em;
    padding: 1em 0;
}

.header-container-element {
    padding: 0 1em;
}

.logo-container a {
    display: flex;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    text-decoration: none;
}

.logo-container .logo img {
    width: 7rem;
}

.logo-container .logo p {
    font-size: 3em;
    color: #557025;
    font-weight: bold;
}

.header-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.header-buttons-container button {
    all: unset;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

.header-buttons-container svg {
    width: 4rem;
    height: 4rem;
    fill: var(--green-dark);
    transition: transform 0.3s ease, fill 0.3s ease;
}

.header-buttons-container svg:hover {
    transform: scale(1.2);
    opacity: 80%;
}

.icon-container {
    position: relative;
    display: inline-block;
}

.icon-container:hover .static-hint-box {
    opacity: 1;
    visibility: visible;
}

.header-buttons-container .menu-toggle {
    display: none;
    background: none;
    cursor: pointer;
}

.header-buttons-container .menu-toggle svg {
    align-self: center;
}
