{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    
    <div class="site-container articles-container">
    {% for category in categories %}
        <li>
            <article class="article-fragment">
                <div class="article-header" data-id="{{ category.id }}">
                    <h2>{{ category.name }}</h2>
                </div>
            </article>
        </li>
    {% endfor %}
    </div>

    <script src="{% static 'js/services-dashboard.js' %}"></script>
    
{% endblock %}
