{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load custom_placeholder %}

{% block content %}
    
    <div class="form-container site-container">
        <div class="form-card">
            <h2>{% trans 'Добавяне на нов медицински продукт' %}</h2>
            <form class="custom-form" action="" method="post">
                {% csrf_token %}
                <div class="input-container">
                    <label for="name_medicine_add" class="custom-label">{% trans 'Име на продукт' %}</label>
                    {{ form.name|add_class:"custom-input"|placeholder:"Въведете име на продукт" }}
                    {% if form.name.errors %}
                        {% for error in form.name.errors %}
                            <p class="error-text">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                {% if request.LANGUAGE_CODE == 'bg' %}
                    <div class="input-container">
                        <label for="description_medicine_add" class="custom-label">{% trans 'Описание на български' %}</label>
                        {{ form.description|add_class:"custom-input"|placeholder:"Въведете описание на български" }}
                        {% if form.description.errors %}
                            {% for error in form.description.errors %}
                                <p class="error-text">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="input-container">
                        <label for="description_medicine_add" class="custom-label">{% trans 'Описание на английски' %}</label>
                        {{ form.description_en|add_class:"custom-input"|placeholder:"Въведете описание на английски" }}
                        {% if form.description_en.errors %}
                            {% for error in form.description_en.errors %}
                                <p class="error-text">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% else %}
                    <div class="input-container">
                        <label for="description_medicine_add" class="custom-label">{% trans 'Описание на английски' %}</label>
                        {{ form.description|add_class:"custom-input"|placeholder:"Въведете описание на английски" }}
                        {% if form.description.errors %}
                            {% for error in form.description.errors %}
                                <p class="error-text">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="input-container">
                        <label for="description_medicine_add" class="custom-label">{% trans 'Описание на български' %}</label>
                        {{ form.description_bg|add_class:"custom-input"|placeholder:"Въведете описание на български" }}
                        {% if form.description_bg.errors %}
                            {% for error in form.description_bg.errors %}
                                <p class="error-text">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}
                <div class="input-container">
                    <label for="dosages_medicine_add" class="custom-label">{% trans 'Дози на използване' %}</label>
                    {{ form.dosages|add_class:"custom-input"|placeholder:"Въведете дози на използване" }}
                    {% if form.dosages.errors %}
                        {% for error in form.dosages.errors %}
                            <p class="error-text">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
        
                <div>
                    {% for error in form.non_field_errors %}
                        <p class="error-text">{{ error }}</p>
                    {% endfor %}
                </div>
                
                <div class="form-buttons-container">
                    <button type="submit" class="form-button">{% trans 'Добави' %}</button>
                    <button type="button" class="form-button" onclick="window.history.back()">{% trans 'Назад' %}</button>
                </div>
            </form>
        </div>
    </div>
    
{% endblock %}