{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="site-container about-us-container">
        <h2>{% trans 'За Нас' %}</h2>
        <p>
            {% blocktrans %}
                Нашата клиника е повече от просто място за ветеринарна грижа – тя е дом, където вашите домашни любимци 
                са винаги добре дошли. Ние вярваме, че здравето и благополучието на животните са неразделна част от 
                щастливия живот на техните стопани. С дългогодишен опит в грижата за животни и страст към нашата 
                професия, ние създадохме клиника, която съчетава най-съвременни технологии, индивидуален подход към 
                всяко животно и уютна атмосфера. Независимо дали става въпрос за рутинна профилактика или 
                сложна медицинска интервенция, нашият екип е тук, за да гарантира най-доброто за вашия любимец. 
                Ние не просто лекуваме – ние създаваме връзки на доверие и приятелство с нашите пациенти 
                и техните семейства.
            {% endblocktrans %}
        </p>
        <h2>{% trans 'Защо да изберете нас' %}</h2>
        <p>
            {% blocktrans %}
                Изборът на ветеринарна клиника е важно решение за всяко семейство с домашен любимец, и ние разбираме 
                отговорността, която идва с вашето доверие. Нашият екип е съставен от висококвалифицирани специалисти, 
                които не само разполагат с богат опит, но и непрекъснато се обучават в най-новите методи на диагностика и 
                лечение. Клиниката ни е оборудвана с модерна апаратура, която ни позволява да предоставяме точни и 
                навременни резултати. Но това, което ни отличава, е нашето отношение – ние знаем, че всеки любимец е 
                уникален, и подхождаме с внимание и грижа към всяка ситуация. От първия контакт до последващите грижи, ние 
                се стремим да бъдем партньори, които винаги са до вас, когато имате нужда.
            {% endblocktrans %}
        </p>
        <h2>{% trans 'Нашата история' %}</h2>
        <p>
            {% blocktrans %}
                Нашата история започна с една проста, но значима мечта: да създадем място, където животните да 
                получават грижа, любов и защита, а техните стопани – спокойствие и увереност. Още от откриването на 
                клиниката ние се посветихме на това да изграждаме връзки с нашите пациенти и техните семейства. 
                Водени от желание за непрекъснато усъвършенстване, успяхме да превърнем тази мечта в реалност. Годините ни 
                научиха, че доверието не се печели само с професионализъм, а и с лично отношение, човечност и отдаденост. 
                Днес, когато погледнем назад, се гордеем, че сме били част от живота на хиляди животни – от първите им 
                стъпки до зрелостта им, през всички моменти на радост и предизвикателства. Нашата история е историята на 
                всяко семейство, което сме докоснали с нашата грижа.
            {% endblocktrans %}
        </p>
        <img src="{% static 'images/lab.jpg' %}" alt="Lab">
    </div>


{% endblock %}