{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="site-container">
        <div class="work-time">
            <h3>Работно време</h3>
            <p>Пон-Петък: 09:00-21:00 часа</p>
            <p>Събота: 10:00-20:00 часа</p>
            <p>Неделя: 10:00-16:00 часа</p>
        </div>
        <div>
            <h3>Телефони за контакти</h3>
            <p>0888 123 456 / 0888 654 321</p>
            <h3>Имейл</h3>
            <p>vetclinic@gmail.com</p>
            <h3>Facebook</h3>
            <a href="">Линк</a>
        </div>
        <div>
            <div id="map" style="height: 500px; width: 700px"></div>
        </div>
        
    </div>

    <script>
        
        const map = L.map('map').setView([42.6977, 23.3219], 17);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
        
        {#TODO: Add styling to the popup#}
        L.marker([42.6977, 23.3219]).addTo(map).bindPopup('<b>VetClinic локация</b>').openPopup();
        
    </script>

{% endblock %}