.site-main {
    flex-grow: 1;
    /* padding: 2em; */
}

.main-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1em;
    justify-content: center;
    align-items: center;
    
}

.main-element-light {
    background-color: var(--green-light);
    color: var(--green-dark);
}

.main-element-dark {
    background-color: var(--green-medium);
    color: var(--green-light)
}

.main-container h2 {
    text-align: center;
}

.main-container p {
    text-align: center;
    font-size: 1.1em;
    line-height: 2rem;
    margin-top: 1.5rem;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: whitesmoke;
    border-radius: 1rem;
    max-width: 30rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 2rem 1rem;
    margin-top: 1.5rem;
}

.services-container .services-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 30%;
    padding: 1em;
    flex-grow: 1;
}

.services-container .services-card > i {
    font-size: 3em;
}

.services-container .services-card > p {
    font-size: 1em;
    font-weight: bold;
    line-height: 1;
}

.mini-gallery-link {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.contacts-container {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.contacts-container a i {
    font-size: 3em;
    text-decoration: none;
    color: var(--green-dark);
}

#dashboard {
    max-width: 50rem;
    border: 2px solid var(--green-dark);
    margin: 3rem auto;
    padding: 1.25rem;
    background: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#search-container {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin-bottom: 1.25rem;
}

#search-container select,
#search-container input {
    padding: 0.6rem;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    outline: none;
}

#search-container select:focus,
#search-container input:focus {
    border-color: #007bff;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}

#search-category {
    width: 9rem;
    background-color: #f9f9f9;
    cursor: pointer;
}

#search-category option {
    padding: 0.6rem;
}

#search-bar {
    flex-grow: 1;
    background-color: #fff;
}

#search-results {
    margin-top: 20px;
}

.category {
    margin-bottom: 1.25rem;
}

.category h2 {
    font-size: 18px;
    color: var(--green-dark);
    margin-bottom: 0.6rem;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.3rem;
}

.category ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.category li {
    display: flex;
    background: #f8f9fa;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;
}

.category li:hover {
    background: #e9ecef;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.category .button-services-li {
    margin-top: 0.5rem;
    background-color: #e7f3df;
    transition: 0.1s ease-in;
}

.category .button-services-li:hover {
    background-color: #d7dfb0;
}

.category a {
    flex: 1;
    display: block;
    padding: 0.7rem;
    text-decoration: none;
    color: black;
}

#pets,
#profiles,
#services,
#medicines {
    display: none;
}

.about-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: var(--green-dark);
}

.about-us-container h2 {
    margin-top: 2rem;
}

.about-us-container p {
    text-align: center;
    padding: 0 1rem;
    max-width: 70%;
}

.about-us-container img {
    margin: 2rem 0;
    max-width: 70%;
    border: 2px solid var(--green-dark);
}

.doctors-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 2rem 0;
}

.doctors-page-container .doctor-card {
    background-color: var(--green-medium);
    display: flex;
    gap: 1rem;
    padding: 2rem;
    border-radius: 0.7rem;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.6);
}

.doctors-page-container .doctor-card .doctor-card-img-container img {
    border: 2px solid var(--green-dark);
}

.doctors-page-container .doctor-card .doctor-card-content {
    color: #324017;
    padding: 0 2rem;
}

.doctors-page-container .doctor-card .doctor-card-content p,
.doctors-page-container .doctor-card .doctor-card-content h3,
.doctors-page-container .doctor-card .doctor-card-content h2 {
    margin-top: 1rem;
}

.doctors-page-container .doctor-card .doctor-card-content span {
    font-style: italic;
}

.contacts-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 2rem;
    color: var(--green-dark);
}

.contacts-page-container .work-time h3 {
    margin-bottom: 1rem;
}

.contacts-page-container .contacts-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.contacts-page-container .contacts-content .email,
.contacts-page-container .contacts-content .phones {
    text-align: center;
}

.contacts-page-container .contacts-content .email p,
.contacts-page-container .contacts-content .phones p {
    font-style: italic;
}

.contacts-page-container .contacts-content .socials {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}

.contacts-page-container .contacts-content .socials .facebook-embed iframe,
.contacts-page-container .contacts-content .socials .instagram-embed iframe {
    outline: 2px solid var(--green-dark);
    margin-top: 2rem;
    width: 21rem;
    height: 30rem;
    background-color: whitesmoke;
}

.contacts-page-container .location-container p {
    text-align: center;
    font-weight: 600;
    margin-bottom: 1rem;
}

.contacts-page-container .location-container span {
    font-weight: 500;
    font-style: italic;
}

#map {
    border: 2px solid var(--green-dark);
}