{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load custom_placeholder %}

{% block content %}
    
    <div class="form-container site-container">
        <div class="form-card">
            <h2>{% trans 'Редактиране на услуга' %}</h2>
            <form class="custom-form" action="" method="post">
                {% csrf_token %}
            
                {% if request.LANGUAGE_CODE == 'bg' %}
                    <div class="input-container">
                        <label for="name_service_edit" class="custom-label">{% trans 'Име на услуга на български' %}</label>
                        {{ form.name|add_class:"custom-input"|placeholder:"Въведете име на услуга на български" }}
                        {% if form.name.errors %}
                            {% for error in form.name.errors %}
                                <p class="error-text">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="input-container">
                        <label for="name_service_edit" class="custom-label">{% trans 'Име на услуга на английски' %}</label>
                        {{ form.name_en|add_class:"custom-input"|placeholder:"Въведете име на услуга на английски" }}
                        {% if form.name_en.errors %}
                            {% for error in form.name_en.errors %}
                                <p class="error-text">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="input-container">
                        <label for="description_service_edit" class="custom-label">{% trans 'Описание на български' %}</label>
                        {{ form.description|add_class:"custom-input"|placeholder:"Въведете описание на български" }}
                        {% if form.description.errors %}
                            {% for error in form.description.errors %}
                                <p class="error-text">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="input-container">
                        <label for="description_service_edit" class="custom-label">{% trans 'Описание на английски' %}</label>
                        {{ form.description_en|add_class:"custom-input"|placeholder:"Въведете описание на английски" }}
                        {% if form.description_en.errors %}
                            {% for error in form.description_en.errors %}
                                <p class="error-text">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% else %}
                    <div class="input-container">
                        <label for="name_service_edit" class="custom-label">{% trans 'Име на услуга на английски' %}</label>
                        {{ form.name|add_class:"custom-input"|placeholder:"Въведете име на услуга на английски" }}
                        {% if form.name.errors %}
                            {% for error in form.name.errors %}
                                <p class="error-text">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="input-container">
                        <label for="name_service_edit" class="custom-label">{% trans 'Име на услуга на български' %}</label>
                        {{ form.name_bg|add_class:"custom-input"|placeholder:"Въведете име на услуга на български" }}
                        {% if form.name_bg.errors %}
                            {% for error in form.name_bg.errors %}
                                <p class="error-text">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="input-container">
                        <label for="description_service_edit" class="custom-label">{% trans 'Описание на английски' %}</label>
                        {{ form.description|add_class:"custom-input"|placeholder:"Въведете описание на английски" }}
                        {% if form.description.errors %}
                            {% for error in form.description.errors %}
                                <p class="error-text">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="input-container">
                        <label for="description_service_edit" class="custom-label">{% trans 'Описание на български' %}</label>
                        {{ form.description_bg|add_class:"custom-input"|placeholder:"Въведете описание на български" }}
                        {% if form.description_bg.errors %}
                            {% for error in form.description_bg.errors %}
                                <p class="error-text">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}
                
                
                <div class="input-container">
                    <label for="category_service_edit" class="custom-label">{% trans 'Категория' %}</label>
                    {{ form.category|add_class:"custom-input" }}
                    {% if form.category.errors %}
                        {% for error in form.category.errors %}
                            <p class="error-text">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
        
                <div>
                    {% for error in form.non_field_errors %}
                        <p class="error-text">{{ error }}</p>
                    {% endfor %}
                </div>
            
                <div class="form-buttons-container">
                    <button class="form-button">
                        {% trans 'Редактирай' %}
                    </button>
                    <button id="delete-service-button" class="form-button">
                        {% trans 'Изтрий' %}
                    </button>
                </div>
                <button type="button" class="form-button" onclick="window.history.back()">{% trans 'Назад' %}</button>
            
            </form>
        </div>
    </div>
    
    <div class="modal">
        <div class="modal-content">
            <p>{% trans 'Сигурни ли сте, че искате да изтриете тази услуга?' %}</p>
            <div class="form-buttons-container">
                <button id="delete-service-confirm" class="form-button">{% trans 'Да' %}</button>
                <button id="delete-service-cancel" class="form-button">{% trans 'Не' %}</button>
            </div>
        </div>
    </div>

    <script>
        const modalElement = document.querySelector('.modal');
        const deleteBtn = document.getElementById('delete-service-button');
        const deleteConfirm = document.getElementById('delete-service-confirm');
        const deleteCancel = document.getElementById('delete-service-cancel');

        deleteBtn.addEventListener('click', (e) => {
            e.preventDefault();
            modalElement.style.display = 'block';
        })
        
        deleteCancel.addEventListener('click', () => {
            modalElement.style.display = 'none';
        })
        
        deleteConfirm.addEventListener('click', () => {
            const serviceId = {{ service.pk }};
            
            fetch(`/api/services/${serviceId}/`, {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                },
            })
            .then(response => {
                if (response.ok) {
                    window.location.href = '{% url 'vet-dashboard' %}';
                } else {
                    alert('Error deleting the service.')
                }
            })
            .catch(error => console.log('Error:', error));
        })
    </script>
    
{% endblock %}